@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.bike-sense-logo {
  width: 20rem;
  margin: 0 auto;
  display: block;
  margin-bottom: 0rem;
}

.criar-grupo-container {
  background-color: #267b74;
  min-height: 100vh;
  color: white;
  font-family: 'Inter', sans-serif;
  padding: 2rem;
  font-weight: 400;
  text-align: center;
}

.content-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.intro-text {
  margin-top: 0.5rem;      
  margin-bottom: 5rem;       
  font-size: 2.25rem;
  line-height: 1.2;
}

.botao-criar {
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  background-color: #00c6ed;
  color: black;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.15rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 25rem;
}

.botao-criar:hover {
  background-color: #00acc1;
}

.lista-title {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left;
}

.grupo-card {
  margin-top: 2rem;
  background-color: #246159;
  border-radius: 25px;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

.grupo-info {
  text-align: left;
}

.grupo-info > strong {
  font-size: 1.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

.grupo-info p {
  margin: 0.25rem 0;
}

.grupo-extra {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.comentario {
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

.ver-mais {
  background-color: #B5E48C;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 0.4rem 1rem;
  cursor: pointer;
  font-size: 0.85rem;
}

.ver-mais:hover {
  background-color: #b2d8b2;
}
